.title {
  color: #232324; 
  font-size: 3rem; 
  font-weight: 700;
  font-family: sans-serif;
}

.title--small {
    color: #232324; 
  font-size: 2rem; 
  font-weight: 700;
  font-family: sans-serif;
}

.title--medium {
    color: #232324; 
  font-size: 2.5rem; 
  font-weight: 700;
  font-family: sans-serif;
}

.title--large {
    color: #232324; 
  font-size: 3rem; 
  font-weight: 700;
  font-family: sans-serif;
}

.subtitle {
    color: #232324;
    font-size: 1rem;
    font-weight: 100;
    font-family: sans-serif;
}